<form class="form-horizontal" [formGroup]="form" (ngSubmit) = "submit()">

    <div class="form-group">
      <label for="name">Username:</label>
      <input type="text" class="form-control" id="name" placeholder="username">
    </div>

    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" formControlName="email" required placeholder="email">
      <div *ngIf="form.get('email').invalid || !(form.get('email').dirty || form.get('email').touched)">
        <small *ngIf="form.get('email').errors.required" class="text-danger">Email is required</small><br>
        <small *ngIf="form.get('email').hasError('email')" class="text-danger">Please provide a valid email address</small>
      </div>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" formControlName="terms" required>
      <label class="form-check-label" for="terms">Accept terms.</label>
      <div *ngIf="!(form.get('terms').dirty || form.get('terms').touched)">
        <small class="text-danger">Terms are required</small>
      </div>
    </div>

    <button [disabled]="form.invalid" type="submit" class="btn btn-success">Submit</button>
</form>
